global
    log /dev/log local0
    log /dev/log local1 notice
    chroot /var/lib/haproxy
    stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
    stats timeout 30s
    user haproxy
    group haproxy
    daemon
    ca-base /etc/ssl/certs
    crt-base /etc/ssl/private
    tune.ssl.default-dh-param 2048
    ssl-default-bind-options no-sslv3 no-tlsv10 no-tlsv11
    ssl-default-bind-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305

defaults
    log global
    mode tcp
    option dontlognull
    timeout connect 10s
    timeout client 300s
    timeout server 300s

frontend http_in
    mode http
    bind *:80
    bind *:55
    bind *:8880
    bind *:2082
    option forwardfor
    http-request set-header X-Forwarded-Proto http
    default_backend nginx_ws

frontend https_in
    mode tcp
    bind *:443 ssl crt /etc/haproxy/hap.pem alpn h2,http/1.1
    bind *:8443 ssl crt /etc/haproxy/hap.pem alpn h2,http/1.1
    bind *:2087 ssl crt /etc/haproxy/hap.pem alpn h2,http/1.1
    bind *:2096 ssl crt /etc/haproxy/hap.pem alpn h2,http/1.1
    tcp-request inspect-delay 5s
    tcp-request content accept if HTTP
    tcp-request content accept if { req.ssl_hello_type 1 }
    acl is_grpc ssl_fc_alpn -i h2
    use_backend nginx_grpc if is_grpc
    default_backend nginx_ws_tcp

backend nginx_ws
    mode http
    server nginx-ws 127.0.0.1:1010 send-proxy check

backend nginx_ws_tcp
    mode tcp
    server nginx-ws 127.0.0.1:1010 send-proxy check

backend nginx_grpc
    mode tcp
    server nginx-grpc 127.0.0.1:1013 send-proxy check
